

.container {margin: 1em; padding: 2em; 
  color: #666;}

.formheader {font-family: "Helvetica Neue"; font-size: 1.5rem; font-weight:200; color: red;}

button.rbt-close {color: #999; font-weight:300;}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
